.opt-pp-cont {
	border-bottom: 2px solid #F19C24;
	height: auto;
}
.opt-pp-cont > #nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	clear: both;
	height: initial;
	;
	padding-bottom: 10px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	padding: 6px 0;
}
.opt-pp-cont #nav > div {
	width: initial;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: auto;
	height: auto;
}
.opt-pp-cont #nav > div:nth-child(1) {
	margin-left: 0;
}
.opt-pp-cont #nav > div:nth-child(4) {
	margin-right: 0;
}
.opt-pp-cont #nav > div .optRight {
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.opt-pp-cont img {
	width: 40px;
}
.optRight p {
	color: #F09B24;
	text-decoration: underline;
}
.opt-pp-container .fa {
    font-size: 40px;
    color: #e2953d;
}
@media (max-width: 767px) {
	.opt-pp-cont {
		width: -webkit-calc(100% - 20px);
		width: calc(100% - 20px);
		margin: auto;
	}
	.opt-pp-cont #nav {
		margin: auto;
		padding: 5px 5px;
		width: auto;
	}
}
@media (max-width: 610px) {
	.opt-pp-cont #nav > div {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
}