<div class="optCont">
    <img src="//placehold.it/100x100">
    <div class="lifestyleCont">
        <div class="optLeft">
            <div class="optTextCont">
                <p class="optText">Mats that work for you</p>
                <div class="optLine"></div>
            </div>
            <img src="//placehold.it/611x310" />
        </div>
        <div class="optRight">
            <div class="optTextCont">
                <p class="optText">Mats that work for you</p>
                <div class="optLine"></div>
            </div>
            <img src="//placehold.it/611x310" />
        </div>
    </div>
</div>

<div class="optpromocont">
    <ul>
        <li>Quick turn around</li>
        <li>Custom sizes</li>
        <li>Discount pricing</li>
    </ul>
</div>