.optCont {
    margin: 50px 0 0 0;
    border-top: 1px solid grey;
    padding-top: 10px;
    text-align: center;
}

.lifestyleCont {
 	display: -webkit-box;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
}

.optTextCont {
    color: #000000;	
    font-family: FranklinGotURWT-Demi,Arial,Helvetica,sans-serif;
    font-size: 30px;	
    line-height: 37px;
    text-align: left;
    margin-bottom: 11px;
    padding: 13px 40px;
}

.optLine {
 	border: 2px solid orange;   
}

.lifestyleCont img {
 	width: 100%;   
}

.optRight {
	margin-left: 20px;   
}

.optLeft {
 	width: 60%;   
}

.optpromocont {
    	background: linear-gradient(180deg, #F0AE24 0%, #E6880B 100%);
}

.optpromocont ul {
   list-style: none;
	display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-around;
}

.optpromocont ul span {
	color: white;
    margin-right: 5px;
}

.optpromocont li {
	font-size: 18px;
    font-weight: bold;
}
@media only screen and (max-width: 767px) {
    .lifestyleCont {
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
    }
    .optRight {
     	margin-left: 0;   
    }
    .optLeft {
 		width: 100%;   
	}
    
    .optRight img {
     	min-width: 500px;
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .optpromocont li {
     	font-size: 14px;   
    }
}