/*.opt1 .products-box.home {
    display: none;
}*/
.opt1 .swipercont,
.opt1 .categorycont {
    position: relative;
    padding: 20px 32px 30px;
    margin-bottom: 20px;
}
.opt1 .swipercont .optTop p,
.opt1 .optMobileCont .optTop p {
    margin: 0;
    z-index: 99999;
    font-size: 14px;
    color: white;
    padding: 0px 20px;
}
.opt1 .optName {
    font: bold 12px/16px Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px;
}
.opt1 .optPrice {
    padding: 10px;
}
.opt1 .optRed {
    color: #f23327 !important;
    font-weight: bold !important;
    font-size: 22px !important;
    line-height: 1;
}
.opt1 .optgst {
    color: black !important;
    font-size: 10px !important;
}
.opt1 .productslider .optTop {
    text-align: left !important;
}
.opt1 .swipercont h2,
.opt1 .categorycont h2 {
    margin-bottom: 10px;
}
.opt1 .optPback {
    display: flex;
    align-items: center;
    justify-content: center;
}
.opt1 .swipercont .optTop p.optArrow {
    font-size: 8px;
    line-height: 8px;
    padding: 0;
    right: 10px;
    position: absolute;
}
.opt1 .optgrey {
    background-color: #eeeeec;
}
.opt1 .swipercont .swiper-pagination {
    display: none;
}
.opt1 .swiper-slide ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.opt1 .bestsellers.swiper-container.products-grid li.item .item-content {
    height: 325px !important;
}
.opt1 .products-grid .swiper-slide li.item {
    width: 170px;
}
.opt1 .optTile {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.opt1 .optTile .optTop {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    border-bottom: 0;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}
.opt1 .optTile .optTopImg {
    height: 120px;
    width: 100%;
    filter: brightness(.6);
    background-position: center;
    background-size: cover;
    border-bottom: 0;
    background-repeat: no-repeat;
    position: absolute;
}
.opt1 .optPback {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    width: 100%;
    position: relative;
}
.opt1 .optTile .optBottom {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: inset #c7c7c7 0px -1px 1px 1px;
}
.opt1 .optTile .optBottom .button {
    width: 199px;
}
.opt1 .optTile .optBottom .button > span {
    background-position: 98% 0;
    ;
}
.opt1 .optTile .optBottom .button > span:hover {
    background-position: 99% -50px;
}
.opt1 .optTile .optBottom .button > span span:hover {
    background-position: -3px -50px;
}
.opt1 .swiper-slide h4.product-name {
    height: initial !important;
    min-height: 50px
}
.opt1 .swiper-button-prev,
.opt1 .swiper-button-next {
    height: 20px;
    filter: brightness(0);
}
.opt1 .optMobileCont {
    display: none;
}
.opt1 .productslider .optTile {
    height: 335px;
    background: white;
}
.opt1 .productslider .optBottom {
    height: initial;
}
.opt1 .productslider .optTile .optTop {
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    align-items: initial;
}
.opt1 .productslider .optImage {
    text-align: center;
}
.opt1 .optCategoryCont {
    display: flex;
    justify-content: space-between;
}
.opt1 .optCategoryCont .optleft {
    width: 350px
}
.opt1 .optCategoryCont .optTop {
    height: 144px;
}
.opt1 .optCategoryCont .optCatImage {
    background: url(https://www.matshop.com.au/media/catalog/category/Mat-Runners_1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.opt1 .optCategoryCont .optBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 55px;
    box-shadow: inset #c7c7c7 0px -1px 1px 1px;
}
.opt1 .optCategoryCont .button {
    width: 190px;
}
.opt1 .optCategoryCont .optBottom .button > span {
    background-position: 98% 0;
    ;
}
.opt1 .optCategoryCont .optBottom .button > span:hover {
    background-position: 99% -50px;
}
.opt1 .optCategoryCont .optBottom .button > span span:hover {
    background-position: -3px -50px;
}
.opt1 .optCategoryCont .optRight {
    border: 1px solid #f2b828;
    width: 100%;
    max-width: 465px;
    padding: 10px 30px;
    background: white;
}
.opt1 .optCategoryCont .catcont ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
}
.opt1 .optCategoryCont .catcont li {
    line-height: 30px;
    font-size: 12px;
    color: black;
    font-weight: bold;
}
.opt1 .optCategoryCont .catcont li:before {
    content: ">";
    margin-right: 5px;
    color: orange;
    transform: scaleY(2);
}
@media only screen and (max-width: 767px) {
    .opt1 .optMobileCont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 767px;
    }
    .opt1 .optMobileCont .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 100%;
        background: rgba(230, 230, 230, 0);
        border: 1px solid #949494;
    }
    .opt1 .optMobileCont .swipercont,
    .opt1 .optMobileCont .categorycont {
        position: relative;
        padding: 20px 0px 10px 32px;
        margin-bottom: 20px;
    }
    .opt1 .optMobileCont .swiper-container {
        width: calc(100vw - 32px);
        padding-bottom: 20px;
    }
    .opt1 .optMobileCont .swiper-pagination-bullet-active {
        background: #f2b028;
    }
    .opt1 .optMobileCont .swiper-pagination {
        display: block;
    }
    .opt1 h2.mobileh2 {
        padding: 0px 10px;
        margin: 10px 0 5px;
        font-size: 24px;
    }
    .opt1 .optMobileCont .optTile {
        margin-bottom: 10px;
        height: 207px;
        width: 270px;
    }
    .opt1 .swiper-button-prev,
    .opt1 .swiper-button-next {
        display: none;
    }
    .opt1 .optMobileCont .optTop {
        height: 143px;
    }
    .opt1 .optTile .optBottom .button {
        min-width: 140px;
        max-width: 190px;
    }
    .opt1 .optMobileCont .optTop .optTopImg {
        height: 143px;
    }
    .opt1 .optMobileCont .optTile .optBottom {
        height: 55px;
    }
    .opt1 .optMobileCont .specialtymatcontM,
    .opt1 .optMobileCont .matrunnerscontM {
        padding: 20px 0px;
        width: 100%;
    }
    .opt1 .optMobileCont .specialtymatcontM h2,
    .opt1 .optMobileCont .matrunnerscontM h2 {
        padding: 0px 10px;
    }
    .opt1 .optMobileCont .optCategoryCont {
        flex-direction: column;
        width: 100%;
    }
    .opt1 .optMobileCont .optCategoryCont .optleft {
        width: 100%;
    }
    .opt1 .optMobileCont .optCategoryCont .optRight {
        border: 1px solid #f2b828;
        width: calc(100% - 68px);
        padding: 10px 30px;
        background: white;
        margin: auto;
        max-width: initial;
        margin-top: 10px;
    }
    .opt1 .optMobileCont .optCategoryCont .catcont ul {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}