<div class="optCont">
    <div class="optTextCont">
        <h2>We do large orders if required</h2>
        <p>For orders over 15+ items be sure to enquire so we can get you a better deal</p>
        <ul>
            <li><span class="fa fa-check"></span>Quick turn around</li>
            <li><span class="fa fa-check"></span>Custom sizes</li>
            <li><span class="fa fa-check"></span>Discount pricing</li>
        </ul>
    </div>
    <div class="optFormCont">
        <div class="optHeader optPadding">
            <h2>Enquire for bulk orders</h2>
        </div>
        <div class="optForm optPadding">
            ADD FORM HERE
        </div>
    </div>
</div>