<form accept-charset="UTF-8" action="https://www.matshop.com.au/contacts/index/post/" class="infusion-form optForm" id="contactForm" method="post" name="contactForm">
	<div class="fieldset">
		<h2 class="legend">
			Contact Information
		</h2>

		<ul class="form-list">
			<li class="fields">
				<div class="field infusion-field">
					<label class="required" for="inf_field_FirstName"><em>*</em>First Name</label>
					<div class="input-box">
						<input class="input-text required-entry infusion-field-input-container" id="inf_field_FirstName" name="firstname" title="First Name" type="text" value="">
					</div>
				</div>

				<div class="field infusion-field">
					<label for="inf_field_LastName">Last Name</label>
					<div class="input-box">
						<input class="input-text infusion-field-input-container" id="inf_field_LastName" name="lastname" title="Last Name" type="text">
					</div>
				</div>
			</li>

			<li class="fields">
				<div class="field infusion-field">
					<label for="inf_field_Company">Company Name</label>
					<div class="input-box">
						<input class="input-text infusion-field-input-container" id="inf_field_Company" name="company" title="Company Name" type="text">
					</div>
				</div>

				<div class="field infusion-field">
					<label for="inf_field_Phone1">Telephone</label>
					<div class="input-box">
						<input class="input-text infusion-field-input-container" id="inf_field_Phone1" name="phone1" title="Telephone" type="text">
					</div>
				</div>
			</li>

			<li class="wide">
				<div class="infusion-field">
					<label class="required" for="inf_field_Email"><em>*</em>Email</label>
					<div class="input-box">
						<input class="input-text required-entry infusion-field-input-container" id="inf_field_Email" name="email" title="Email" type="text" value="">
					</div>
				</div>
			</li>

			<li class="wide">
				<div class="infusion-field">
					<label class="required" for="inf_custom_ContactUsComments"><em>*</em>Message</label>
					<div class="input-box">
						<textarea class="input-text required-entry" cols="5" id="inf_custom_ContactUsComments" name="contactuscomments" placeholder="Please type your enquiry here, we aim to respond to all enquiries within 2 business hours" rows="3" title="Comment"></textarea>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="buttons-set infusion-submit">
		<p class="required">
			* Required Fields
		</p>
		<button class="button" title="Submit" type="submit"><span><span>Submit</span></span></button>
	</div>
</form>