.home-information-box.wide {
    padding-bottom: 10px;
}
.optCont {
    text-align: center;
    padding-top: 44px;
    background: url(//cdn.optimizely.com/img/8505590826/e113fe40231b4d9a94273562de511628.png);
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}
.optCont .optTextCont h2 {
    margin-bottom: 12px;
    color: #FFFFFF;
    font-size: 32px;
    line-height: initial;
}
.optCont .optTextCont p {
    font-size: 18px;
    color: white;
    margin-bottom: 12px;
}
.optCont .optTextCont ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 65%;
    margin: auto;
    color: white;
    margin-bottom: 12px;
}
.optCont .optTextCont ul li {
    font-size: 14px;
}
.optCont .optTextCont ul li span {
    color: orange;
    margin-right: 3px;
}
.optFormCont {
    max-width: 560px;
    margin: auto;
    background: white;
    text-align: left;
    border-radius: 5px 5px 0 0;
}
.optForm {
    border: 1px solid grey;
    margin-top: -1px
}
.optForm form {
    display: block;
}
.optHeader.optPadding.fieldset {
    padding-top: 10px;
    padding-bottom: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc04c+0,d8860c+100 */
    background: #ffc04c;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffc04c 0%, #d8860c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc04c), to(#d8860c));
    background: linear-gradient(to bottom, #ffc04c 0%, #d8860c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc04c', endColorstr='#d8860c', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 0 0;
}
.optFormCont h2 {
    margin: 0;
    line-height: initial;
}
.optFormCont .fieldset {
    margin: 0;
    -webkit-box-shadow: initial;
    box-shadow: initial;
}
@media only screen and (max-width: 767px) {
    .home-information-box.optCont {
        width: 100%;
        display: block;
        text-align: left;
        padding-top: 40px;
        -webkit-background-size: 300%;
        background-size: 300%;
        padding-bottom: 0;
    }
    .optCont .optTextCont {
        padding: 0 20px;
    }
    .optCont .optTextCont ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: initial;
        margin-bottom: 20px;
    }
    .optCont .optTextCont ul li {
        font-size: 16px;
        line-height: 28px;
    }
    .optFormCont {
        width: 100%;
        max-width: initial;
    }
}